.jani-itemform-main{
    width: 1166px;
    height:594px;
    position: absolute;
    margin-left:200px;
    background-image: url("../images/itemmain.jpg");
    color:white;
}


.jani-itemform-main-name{
    height: 60px;
    width:1166px;
    left: 20px;
    top: 20px;
    color: white;
    padding: 10px;
    background-color: rgba(8, 52, 79, 0.62);
    font-size: 30px;

}
.jani-itemform-sub{
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.69);
    margin-left: 20px;
    margin-right: 20px;
    height: 440px;
}
.jani-itemform-name {
    padding-left: 40px;
    padding-top: 30px;

}


.jani-itemform-button {
    margin-top: 10px;
    padding: 40px;

}