.jani-validate-input {
    border-radius: 4px;
    width: 159px;
    margin-left: 22px;
    margin-top: 27px;
}

.jani-validate-text {
    font-size: 19px;
    font-family: Bahnschrift;
    margin-left: -123px;
}

.jani-validate {
    margin-left: 10px;
    font-size: 11px;
    color: rgba(67, 237, 24, 0.66);
    position: absolute;

}