.jani-validate1{
    position: absolute;
    color: rgba(251, 131, 126, 0.68);
}

.jani-validate-input1{
    width: 1045px;
    border-radius: 4px;
}
.jani-validate-text1{
font-size: 19px;
    font-family: Bahnschrift;
}